[Desktop Entry]
Version=1.0
Type=Link
Name=Actionaz, un logiciel d'automatisation libre - LinuxFr.org
Comment=
Icon=user-bookmarks
URL=https://linuxfr.org/news/actionaz-un-logiciel-d-automatisation-libre
