[Desktop Entry]
Version=1.0
Type=Link
Name=Getting started with the i3 window manager | Opensource.com
Comment=
Icon=user-bookmarks
URL=https://opensource.com/article/18/8/getting-started-i3-window-manager
