[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - wertarbyte/autorandr: Auto-detect the connect display hardware and load the appropiate X11 setup using xrandr or disper
Comment=
Icon=user-bookmarks
URL=https://github.com/wertarbyte/autorandr
