[Desktop Entry]
Version=1.0
Type=Link
Name=VNC : x11vnc pour prendre le contrôle du bureau à distance - Documentation - Wiki - Linuxtricks
Comment=
Icon=user-bookmarks
URL=https://www.linuxtricks.fr/wiki/vnc-x11vnc-pour-prendre-le-controle-du-bureau-a-distance
