[Desktop Entry]
Version=1.0
Type=Link
Name=x11vnc: a VNC server for real X displays
Comment=
Icon=user-bookmarks
URL=http://www.karlrunge.com/x11vnc/
