[Desktop Entry]
Version=1.0
Type=Link
Name=How to install tinc VPN on Ubuntu Linux 16.04 to secure traffic - nixCraft
Comment=
Icon=user-bookmarks
URL=https://www.cyberciti.biz/faq/how-to-install-tinc-vpn-on-ubuntu-linux-16-04-to-secure-traffic/
