[Desktop Entry]
Version=1.0
Type=Link
Name=Wireguard VPN: Typical Setup - The poetry of (in)security
Comment=
Icon=user-bookmarks
URL=https://www.ckn.io/blog/2017/11/14/wireguard-vpn-typical-setup/
