[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - voxpupuli/puppetboard: Web frontend for PuppetDB
Comment=
Icon=user-bookmarks
URL=https://github.com/voxpupuli/puppetboard
