[Desktop Entry]
Version=1.0
Type=Link
Name=Create your Linux development workstation in seconds | Ubuntu blog
Comment=
Icon=user-bookmarks
URL=https://blog.ubuntu.com/2018/07/31/create-your-linux-development-workstation-in-seconds
