[Desktop Entry]
Version=1.0
Type=Link
Name=DevOps Fundamentals: High-Performing Organizations | Linux.com | The source for Linux information
Comment=
Icon=user-bookmarks
URL=https://www.linux.com/blog/learn/chapter/dev-ops/2017/7/devops-fundamentals-high-performing-organizations
