[Desktop Entry]
Version=1.0
Type=Link
Name=devops by krishna vasu - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/playlist?list=PLyueB9LCZVO6Pm7fF-HzLw-gXe7l_lgoe&fbclid=IwAR2NqkrdMqCn3gAp8volMfF-w-EbW3RJFqFEYkZPGM19s1rsnon_UFKz950
