[Desktop Entry]
Version=1.0
Type=Link
Name=Where in the DevOps cycle do you do security? | Opensource.com
Comment=
Icon=user-bookmarks
URL=https://opensource.com/article/18/6/where-cycle-security-devops?sc_cid=70160000001273HAAQ
