[Desktop Entry]
Version=1.0
Type=Link
Name=Complete guide to configure SSL on Nginx with Let's Encrypt (Ubuntu/Centos/RHEL) - LinuxTechLab
Comment=
Icon=user-bookmarks
URL=https://linuxtechlab.com/complete-guide-to-configure-ssl-on-nginx-with-lets-encrypt-ubuntu-centos-rhel/?fbclid=IwAR1Ed-fabU82i3AIwnQ5h96pRI6kjxzeGcLGPZoBtAlhJHD4pelRVCUQg44
