[Desktop Entry]
Version=1.0
Type=Link
Name=Simple way to configure Nginx Reverse Proxy - LinuxTechLab
Comment=
Icon=user-bookmarks
URL=https://linuxtechlab.com/simple-way-to-configure-nginx-reverse-proxy/?fbclid=IwAR2b1f-j-i8rAvBZ8aqpjS-pdgUX4KfmqopXmNiTCR5UkJ9U88cDSBp5jZw
