[Desktop Entry]
Version=1.0
Type=Link
Name=15 Git Commands You May Not Know - DEV Community 👩‍💻👨‍💻
Comment=
Icon=user-bookmarks
URL=https://dev.to/zaiste/15-git-commands-you-may-not-know-4a8j
