[Desktop Entry]
Version=1.0
Type=Link
Name=6 Github alternatives that are open source and self-hosted - nixCraft
Comment=
Icon=user-bookmarks
URL=https://www.cyberciti.biz/open-source/github-alternatives-open-source-seflt-hosted/
