[Desktop Entry]
Version=1.0
Type=Link
Name=Beginner-Friendly Introduction to GitLab CI/CD – Zuri Hunter – Medium
Comment=
Icon=user-bookmarks
URL=https://medium.com/@zurihunter92/beginner-friendly-introduction-to-gitlab-ci-cd-1c80ee5ba0ae
