[Desktop Entry]
Version=1.0
Type=Link
Name=Git - À propos de la gestion de version
Comment=
Icon=user-bookmarks
URL=https://git-scm.com/book/fr/v2/D%C3%A9marrage-rapide-%C3%80-propos-de-la-gestion-de-version
