[Desktop Entry]
Version=1.0
Type=Link
Name=Git expliqué avec mes mots --- #SQUAD #blog #git
Comment=
Icon=user-bookmarks
URL=https://blog.squad.fr/non-classe/git-explique-avec-mes-mots.html
