[Desktop Entry]
Version=1.0
Type=Link
Name=How to undo (almost) anything with Git | The GitHub Blog
Comment=
Icon=user-bookmarks
URL=https://blog.github.com/2015-06-08-how-to-undo-almost-anything-with-git/
