[Desktop Entry]
Version=1.0
Type=Link
Name=How to recover dropped data from stash | Opensource.com
Comment=
Icon=gnome-fs-bookmark
URL=https://opensource.com/article/17/8/recover-dropped-data-stash?sc_cid=7016000000127ECAAY
