[Desktop Entry]
Version=1.0
Type=Link
Name=Setting up LDAP sign-in | GitLab
Comment=
Icon=user-bookmarks
URL=https://docs.gitlab.com/omnibus/settings/ldap.html
