[Desktop Entry]
Version=1.0
Type=Link
Name=Sublime Merge, un client Git par les créateurs de Sublime Text - Dév. Web - ShevArezo`Blog
Comment=
Icon=user-bookmarks
URL=https://blog.shevarezo.fr/post/2018/09/20/sublime-merge-client-git
