[Desktop Entry]
Version=1.0
Type=Link
Name=Three Graphical Clients for Git on Linux | Linux.com | The source for Linux information
Comment=
Icon=user-bookmarks
URL=https://www.linux.com/learn/intro-to-linux/2018/7/three-graphical-clients-git-linux
