[Desktop Entry]
Version=1.0
Type=Link
Name=How to use KA Lite to serve up educational content | Opensource.com
Comment=
Icon=user-bookmarks
URL=https://opensource.com/article/18/9/education-material-kalite?sc_cid=70160000001273HAAQ
