[Desktop Entry]
Version=1.0
Type=Link
Name=How to Install Multiple Linux Distributions on One USB - It's FOSS
Comment=
Icon=gnome-fs-bookmark
URL=https://itsfoss.com/multiple-linux-one-usb/?fbclid=IwAR3RPBxRW23k-I8T6zh0mD5-SRAUIRWm1BkZhq4hMfugEDernRUW8Du2fb8
