[Desktop Entry]
Version=1.0
Type=Link
Name=Windows — KA Lite 0.17.5 documentation
Comment=
Icon=user-bookmarks
URL=https://ka-lite.readthedocs.io/en/latest/installguide/install_all.html#linux
