[Desktop Entry]
Version=1.0
Type=Link
Name=Présentation technique de Canopsis - LinuxFr.org
Comment=
Icon=gnome-fs-bookmark
URL=https://linuxfr.org/news/presentation-technique-de-canopsis
