[Desktop Entry]
Version=1.0
Type=Link
Name=Run node.js service with systemd » Axllent.org
Comment=
Icon=user-bookmarks
URL=https://www.axllent.org/docs/view/nodejs-service-with-systemd/
