[Desktop Entry]
Version=1.0
Type=Link
Name=The Best Google Search Cheat Sheet: Tips, Operators, and Commands to Know
Comment=
Icon=user-bookmarks
URL=https://www.makeuseof.com/tag/best-google-search-tips-pdf/
