[Desktop Entry]
Version=1.0
Type=Link
Name=WBO : Un tableau blanc interactif - LinuxFr.org
Comment=
Icon=user-bookmarks
URL=https://linuxfr.org/news/wbo-un-tableau-blanc-interactif
