[Desktop Entry]
Version=1.0
Type=Link
Name=Proxmox VE #1 - Présentation | Emaxilde
Comment=
Icon=gnome-fs-bookmark
URL=https://blog.emaxilde.net/3-Proxmox-VE-1-Presentation.html
