[Desktop Entry]
Version=1.0
Type=Link
Name=9.6. Créer et modifier des fichiers d'unité systemd - Red Hat Customer Portal
Comment=
Icon=gnome-fs-bookmark
URL=https://access.redhat.com/documentation/fr-fr/red_hat_enterprise_linux/7/html/system_administrators_guide/sect-managing_services_with_systemd-unit_files
