[Desktop Entry]
Version=1.0
Type=Link
Name=Setting Up a Timer with systemd in Linux | Linux.com | The source for Linux information
Comment=
Icon=user-bookmarks
URL=https://www.linux.com/blog/learn/intro-to-linux/2018/7/setting-timer-systemd-linux
