[Desktop Entry]
Version=1.0
Type=Link
Name=Systemd : les commandes essentielles - Documentation - Wiki - Linuxtricks
Comment=
Icon=user-bookmarks
URL=https://www.linuxtricks.fr/wiki/systemd-les-commandes-essentielles#paragraph_creer-un-service-simple
