[Desktop Entry]
Version=1.0
Type=Link
Name=Systemd Timers: Three Use Cases | Linux.com | The source for Linux information
Comment=
Icon=user-bookmarks
URL=https://www.linux.com/blog/intro-to-linux/2018/8/systemd-timers-two-use-cases-0?utm_source=twitter&utm_medium=social-media&utm_campaign=&utm_promo=organic
