[Desktop Entry]
Version=1.0
Type=Link
Name=systemd : l’init martyrisé, l’init bafoué, mais l’init libéré ! - LinuxFr.org
Comment=
Icon=user-bookmarks
URL=https://linuxfr.org/news/systemd-l-init-martyrise-l-init-bafoue-mais-l-init-libere
