[Desktop Entry]
Version=1.0
Type=Link
Name=/chapter: Introduction / Initiation à Darktable
Comment=
Icon=gnome-fs-bookmark
URL=https://fr.flossmanuals.net/initiation-a-darktable/introduction/
