[Desktop Entry]
Version=1.0
Type=Link
Name=darktable 2.4 | usermanual | darktable
Comment=
Icon=gnome-fs-bookmark
URL=https://www.darktable.org/usermanual/fr/index.html
