[Desktop Entry]
Version=1.0
Type=Link
Name=G’MIC 2.0 : un second souffle pour le traitement d’images libre - LinuxFr.org
Comment=
Icon=gnome-fs-bookmark
URL=https://linuxfr.org/news/g-mic-2-0-un-second-souffle-pour-le-traitement-d-images-libre
