[Desktop Entry]
Version=1.0
Type=Link
Name=Les fiches “The Gimp” | Blog du prof T.I.M. – Lycée du Mené – Informatique
Comment=
Icon=gnome-fs-bookmark
URL=https://blogs.lyceecfadumene.fr/informatique/les-fiches-du-cours/les-fiches-the-gimp/
