[Desktop Entry]
Version=1.0
Type=Link
Name=Nextcloud for Filelink :: Modules pour Thunderbird
Comment=
Icon=user-bookmarks
URL=https://addons.thunderbird.net/fr/thunderbird/addon/nextcloud-filelink/
