[Desktop Entry]
Version=1.0
Type=Link
Name=Dealing With Mail in Mutt
Comment=
Icon=user-bookmarks
URL=https://www.serverwatch.com/tutorials/article.php/3847501/Dealing-With-Mail-in-Mutt.htm
