[Desktop Entry]
Version=1.0
Type=Link
Name=Install, Secure, Access and Configure Linux Mail Server (Postfix) - Like Geeks
Comment=
Icon=gnome-fs-bookmark
URL=https://likegeeks.com/linux-mail-server/
