[Desktop Entry]
Version=1.0
Type=Link
Name=Installation et configuration de Roundcube sur Debian
Comment=
Icon=gnome-fs-bookmark
URL=https://www.guillaume-leduc.fr/installation-et-configuration-de-roundcube-sur-debian.html
