[Desktop Entry]
Version=1.0
Type=Link
Name=Linux Today - Dealing With Mail in Mutt
Comment=
Icon=user-bookmarks
URL=https://www.linuxtoday.com/infrastructure/2009111000835osswnt
