[Desktop Entry]
Version=1.0
Type=Link
Name=Postfix : Modifier l’adresse email émettrice d’apache « Croc-Informatique.fr
Comment=
Icon=user-bookmarks
URL=https://www.croc-informatique.fr/2012/11/postfix-modifier-ladresse-email-mettrice-dapache/
