[Desktop Entry]
Version=1.0
Type=Link
Name=Using Microsoft Exchange from Linux Desktop
Comment=
Icon=user-bookmarks
URL=https://itsfoss.com/microsoft-exchange-linux-desktop/?fbclid=IwAR3lWGPAVgwVAMSE5v4Pt1LELM7-b07wGpGW973twLXQ5fdH1T7qJYWJf28
