[Desktop Entry]
Version=1.0
Type=Link
Name=12 Chrome Extensions for Developers and Designers
Comment=
Icon=user-bookmarks
URL=https://www.fossmint.com/chrome-extensions-for-developers-programmers-designers/
