[Desktop Entry]
Version=1.0
Type=Link
Name=Publishing Markdown to HTML with MDwiki | Opensource.com
Comment=
Icon=user-bookmarks
URL=https://opensource.com/article/18/8/markdown-html-publishing?sc_cid=70160000001273HAAQ
