[Desktop Entry]
Version=1.0
Type=Link
Name=Quelques sites/outils pour améliorer votre site // /home/lord
Comment=
Icon=user-bookmarks
URL=https://lord.re/posts/124-site-outils-amelioration-sites/
