[Desktop Entry]
Version=1.0
Type=Link
Name=Tutoriel Vidéo HTML-CSS Tableaux responsive
Comment=
Icon=gnome-fs-bookmark
URL=https://www.grafikart.fr/tutoriels/html-css/table-responsive-1015
