[Desktop Entry]
Version=1.0
Type=Link
Name=Create a SOCKS proxy on a Linux server with SSH to bypass content filters
Comment=
Icon=user-bookmarks
URL=https://ma.ttias.be/socks-proxy-linux-ssh-bypass-content-filters/
