[Desktop Entry]
Version=1.0
Type=Link
Name=How To Route Web Traffic Securely Without a VPN Using a SOCKS Tunnel | DigitalOcean
Comment=
Icon=user-bookmarks
URL=https://www.digitalocean.com/community/tutorials/how-to-route-web-traffic-securely-without-a-vpn-using-a-socks-tunnel
