[Desktop Entry]
Version=1.0
Type=Link
Name=Proxy Socks apt-get | memo-linux.com
Comment=
Icon=user-bookmarks
URL=https://memo-linux.com/proxy-socks-apt-get/
