[Desktop Entry]
Version=1.0
Type=Link
Name=Turn any Linux computer into SOCKS5 proxy in one command - good coders code, great coders reuse
Comment=
Icon=user-bookmarks
URL=http://www.catonmat.net/blog/linux-socks5-proxy/
