[Desktop Entry]
Version=1.0
Type=Link
Name=[Projet] Mise en place d'un cluster Proxmox VE
Comment=
Icon=gnome-fs-bookmark
URL=https://www.guillaume-leduc.fr/mise-en-place-dun-cluster-proxmox-ve.html
