[Desktop Entry]
Version=1.0
Type=Link
Name=Configuration de Proxmox 5 avec Openvswitch & Ceph - Yakakliker
Comment=
Icon=user-bookmarks
URL=http://www.yakakliker.org/index.php?title=Informatique/Cat%c3%a9gorie_:_Virtualisation/Proxmox/Proxmox_VE_5.x/Installation_%26_configuration_de_Proxmox_5_avec_Openvswitch_%26_Ceph
