[Desktop Entry]
Version=1.0
Type=Link
Name=Installing a Proxmox-based server
Comment=
Icon=user-bookmarks
URL=https://francois.monniot.eu/2015/03/25/installing-a-proxmox-based-server/
