[Desktop Entry]
Version=1.0
Type=Link
Name=Installation et configuration » how-to.ovh
Comment=
Icon=user-bookmarks
URL=https://www.how-to.ovh/viewtopic.php?t=9
