[Desktop Entry]
Version=1.0
Type=Link
Name=Proxmox VE - One Public IP - Raymii.org
Comment=
Icon=user-bookmarks
URL=https://raymii.org/s/tutorials/Proxmox_VE_One_Public_IP.html
