[Desktop Entry]
Version=1.0
Type=Link
Name=Proxmox 5.3 : installer CephFS | memo-linux.com
Comment=
Icon=user-bookmarks
URL=https://memo-linux.com/proxmox-5-3-installer-cephfs/
