[Desktop Entry]
Version=1.0
Type=Link
Name=Tuning Proxmox et Ceph - Yakakliker
Comment=
Icon=user-bookmarks
URL=http://www.yakakliker.org/Informatique/Cat%c3%a9gorie_%3a_Virtualisation/Proxmox/Proxmox_VE_4.x/Tuning_Proxmox_et_Ceph
