[Desktop Entry]
Version=1.0
Type=Link
Name=A Kubernetes quick start for people who know just enough about Docker to get by | by Adnan Rahić - Hakin9 - IT Security Magazine
Comment=
Icon=user-bookmarks
URL=https://hakin9.org/a-kubernetes-quick-start-for-people-who-know-just-enough-about-docker/?fbclid=IwAR3PWI9-iNhOg7b8FE0Hy2PPC7HxvughqoOLObkT81uCKy9EAOJoEwi-rNM
