[Desktop Entry]
Version=1.0
Type=Link
Name=Getting Started With Kubernetes Is Easy With Minikube | Linux.com | The source for Linux information
Comment=
Icon=user-bookmarks
URL=https://www.linux.com/learn/getting-started-kubernetes-easy-minikube
