[Desktop Entry]
Version=1.0
Type=Link
Name=Kubernetes Services By Example – OpenShift Blog
Comment=
Icon=user-bookmarks
URL=https://blog.openshift.com/kubernetes-services-by-example/?sc_cid=70160000001273HAAQ
