[Desktop Entry]
Version=1.0
Type=Link
Name=Kubernetes installation and configuration - Kernel Talks
Comment=
Icon=user-bookmarks
URL=https://kerneltalks.com/virtualization/docker/kubernetes-installation-and-configuration/
