[Desktop Entry]
Version=1.0
Type=Link
Name=10 easy phpMyAdmin tweaks to simplify MySQL administration
Comment=
Icon=user-bookmarks
URL=https://www.smarthomebeginner.com/phpmyadmin-tweaks-to-simplify-database-administration/
