[Desktop Entry]
Version=1.0
Type=Link
Name=Getting started with SQL | Opensource.com
Comment=
Icon=user-bookmarks
URL=https://opensource.com/article/18/2/getting-started-sql?utm_campaign=intrel
