[Desktop Entry]
Version=1.0
Type=Link
Name=MySQL InnoDB Cluster - A complete High Availability solution for MySQL
Comment=
Icon=user-bookmarks
URL=https://www.slideshare.net/freshdaz/mysql-innodb-cluster-a-complete-high-availability-solution-for-mysql
