[Desktop Entry]
Version=1.0
Type=Link
Name=temboard v2.0 introduit les Alertes
Comment=
Icon=user-bookmarks
URL=http://blog.dalibo.com/2018/09/06/annonce-temboard-2.0-fr.html
