[Desktop Entry]
Version=1.0
Type=Link
Name=Administration Ldap par interface web graphique avec phpldapadmin - System-Linux
Comment=
Icon=user-bookmarks
URL=https://www.system-linux.eu/index.php?post/2008/06/17/Administration-Ldap
