[Desktop Entry]
Version=1.0
Type=Link
Name=Documentation [LDAP Tool Box (LTB)]
Comment=
Icon=gnome-fs-bookmark
URL=https://ltb-project.org/documentation#packaging_and_openldap_extensions
