[Desktop Entry]
Version=1.0
Type=Link
Name=How to Configure LDAP Client to Connect External Authentication
Comment=
Icon=user-bookmarks
URL=https://www.tecmint.com/configure-ldap-client-to-connect-external-authentication/?fbclid=IwAR0bxmcFIF_Q2K-9WRjJPZEFVUsoaRrcABQawst3Fx6Hi6DIJrQ-5mvKHVk
