[Desktop Entry]
Version=1.0
Type=Link
Name=How To Install OpenLDAP Server for Centralized Authentication
Comment=
Icon=user-bookmarks
URL=https://www.tecmint.com/install-openldap-server-for-centralized-authentication/
