[Desktop Entry]
Version=1.0
Type=Link
Name=Self Service Password [LDAP Tool Box (LTB)]
Comment=
Icon=gnome-fs-bookmark
URL=https://ltb-project.org/documentation/self-service-password
