[Desktop Entry]
Version=1.0
Type=Link
Name=TUTO GIMP , 45 Formations Gimp en vidéo sur TUTO.COM
Comment=
Icon=gnome-fs-bookmark
URL=https://fr.tuto.com/gimp/
