[Desktop Entry]
Version=1.0
Type=Link
Name=Joining Debian 8 to Active Directory |
Comment=
Icon=user-bookmarks
URL=http://www.alandmoore.com/blog/2015/05/06/joining-debian-8-to-active-directory/
