[Desktop Entry]
Version=1.0
Type=Link
Name=Realmd and SSSD Active Directory Authentication - OutsideIT
Comment=
Icon=user-bookmarks
URL=https://outsideit.net/realmd-sssd-ad-authentication/
