[Desktop Entry]
Version=1.0
Type=Link
Name=[Tuto] Installer Fail2Web - mondedie.fr
Comment=
Icon=gnome-fs-bookmark
URL=https://mondedie.fr/d/5677-Tuto-Installer-Fail2Web
