[Desktop Entry]
Version=1.0
Type=Link
Name=Fail2ban — Le Wiki de debian-fr.xyz
Comment=
Icon=gnome-fs-bookmark
URL=https://wiki.debian-fr.xyz/Fail2ban
