[Desktop Entry]
Version=1.0
Type=Link
Name=Sean-Der/fail2web: a fail2ban GUI powered by fail2rest
Comment=
Icon=gnome-fs-bookmark
URL=https://github.com/Sean-Der/fail2web
