[Desktop Entry]
Version=1.0
Type=Link
Name=[Projet] Peupler OpenLDAP à partir d'un fichier CSV
Comment=
Icon=gnome-fs-bookmark
URL=https://www.guillaume-leduc.fr/projet-peupler-openldap-a-partir-dun-fichier-csv.html
