[Desktop Entry]
Version=1.0
Type=Link
Name=Best Practices with sudo on Linux - Dos and Dont's of sudo - Tutorials - LinuxPlanet
Comment=
Icon=user-bookmarks
URL=http://www.linuxplanet.com/linuxplanet/tutorials/7165/1/
