[Desktop Entry]
Version=1.0
Type=Link
Name=Linux Today - Best Practices with sudo on Linux
Comment=
Icon=user-bookmarks
URL=https://www.linuxtoday.com/it_management/2010090202335scsw
