[Desktop Entry]
Version=1.0
Type=Link
Name=Chiffrement et Identification via GnuPG - System-Linux
Comment=
Icon=user-bookmarks
URL=https://www.system-linux.eu/index.php?post/2009/04/29/Chiffrement-et-Identification-via-GnuPG
