[Desktop Entry]
Version=1.0
Type=Link
Name=How to find out AES-NI (Advanced Encryption) Enabled on Linux System - nixCraft
Comment=
Icon=user-bookmarks
URL=https://www.cyberciti.biz/faq/how-to-find-out-aes-ni-advanced-encryption-enabled-on-linux-system/
