[Desktop Entry]
Version=1.0
Type=Link
Name=Understanding OpenStack
Comment=
Icon=user-bookmarks
URL=https://www.redhat.com/en/topics/openstack?sc_cid=701f2000000tzfLAAQ
