[Desktop Entry]
Version=1.0
Type=Link
Name=A sysadmin's guide to containers | Opensource.com
Comment=
Icon=user-bookmarks
URL=https://opensource.com/article/18/8/sysadmins-guide-containers?sc_cid=70160000001273HAAQ
