[Desktop Entry]
Version=1.0
Type=Link
Name=Adventures with Docker - S01E03 - Logs
Comment=
Icon=user-bookmarks
URL=https://www.joe-linux.org/it/docker/linux/2017/08/25/adventures-with-docker-part-3-logs.html
