[Desktop Entry]
Version=1.0
Type=Link
Name=Adventures with Docker - S01E05 - The Testing environment
Comment=
Icon=user-bookmarks
URL=https://www.joe-linux.org/it/docker/linux/2017/09/03/adventures-with-docker-part-5.html
