[Desktop Entry]
Version=1.0
Type=Link
Name=Adventures with Docker - S01E02 - One Container
Comment=
Icon=user-bookmarks
URL=https://www.joe-linux.org/it/docker/linux/2017/08/23/adventures-with-docker-part-2.html
