[Desktop Entry]
Version=1.0
Type=Link
Name=Adventures with Docker - S01E04 - The Swarm
Comment=
Icon=user-bookmarks
URL=https://www.joe-linux.org/it/docker/linux/2017/08/31/adventures-with-docker-part-4.html
