[Desktop Entry]
Version=1.0
Type=Link
Name=Apprenez et testez facilement Docker et Kubernetes sur Katacoda ! – Homputer Security
Comment=
Icon=user-bookmarks
URL=https://homputersecurity.com/2018/08/09/katacoda-testez-facilement-docker/
