[Desktop Entry]
Version=1.0
Type=Link
Name=Best practices for migrating to containerized applications
Comment=
Icon=user-bookmarks
URL=https://www.redhat.com/en/resources/best-practices-container-migration-ebook?sc_cid=70160000001273HAAQ
