[Desktop Entry]
Version=1.0
Type=Link
Name=Building tiny container images | Opensource.com
Comment=
Icon=user-bookmarks
URL=https://opensource.com/article/18/7/building-container-images
