[Desktop Entry]
Version=1.0
Type=Link
Name=Configure Secure Registry with Docker-Distribution on CentOS 7
Comment=
Icon=user-bookmarks
URL=https://ahmermansoor.blogspot.com/2019/04/configure-secure-registry-docker-distribution-centos-7.html?fbclid=IwAR2Pq9vZbUoIevDNDHYvAtl_OwJc-2VB-T4GagnEI3IktLwrnaklF-0Awts
