[Desktop Entry]
Version=1.0
Type=Link
Name=Consul 01 - en local
Comment=
Icon=user-bookmarks
URL=https://blog.ledez.net/informatique/devops/consul-01-en-local/
