[Desktop Entry]
Version=1.0
Type=Link
Name=ctop - Top-like Interface for Monitoring Docker Containers
Comment=
Icon=user-bookmarks
URL=https://www.tecmint.com/ctop-monitor-docker-containers/?fbclid=IwAR0Mw13BlVLyzKA3L9bvThWbewvjH_hy1ZChktUFnh7qWoHBLhisTRBiEuc
