[Desktop Entry]
Version=1.0
Type=Link
Name=Et je suis passé à https avec Docker et Traefik - ITwars | Vincent RABAH
Comment=
Icon=user-bookmarks
URL=https://www.it-wars.com/posts/performance/docker-traefik-letsencrypt/
