[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - containous/traefik: The Cloud Native Edge Router
Comment=
Icon=user-bookmarks
URL=https://github.com/containous/traefik#documentation
