[Desktop Entry]
Version=1.0
Type=Link
Name=How To Install OpenFaaS with Docker Swarm on Ubuntu 16.04 | DigitalOcean
Comment=
Icon=gnome-fs-bookmark
URL=https://www.digitalocean.com/community/tutorials/how-to-install-and-secure-openfaas-using-docker-swarm-on-ubuntu-16-04?utm_medium=social&utm_source=twitter&utm_campaign=openfaas_dockerswarm_tut&utm_content=no_image
