[Desktop Entry]
Version=1.0
Type=Link
Name=Kubernetes & Traefik 101— When Simplicity Matters – Gérald Croës – Medium
Comment=
Icon=user-bookmarks
URL=https://medium.com/@geraldcroes/kubernetes-traefik-101-when-simplicity-matters-957eeede2cf8
