[Desktop Entry]
Version=1.0
Type=Link
Name=Portainer avec du HTTPS – Supras.io
Comment=
Icon=user-bookmarks
URL=https://supras.io/portainer-avec-du-https/
