[Desktop Entry]
Version=1.0
Type=Link
Name=Sécuriser et optimiser : notre liste de bonnes pratiques liées aux Dockerfiles | blog Bearstech
Comment=
Icon=user-bookmarks
URL=https://bearstech.com/societe/blog/securiser-et-optimiser-notre-liste-des-bonnes-pratiques-liees-aux-dockerfiles/
