[Desktop Entry]
Version=1.0
Type=Link
Name=The Search for a GUI Docker | Linux Journal
Comment=
Icon=user-bookmarks
URL=https://www.linuxjournal.com/content/search-gui-docker
