[Desktop Entry]
Version=1.0
Type=Link
Name=Using Consul with Containers - Consul by HashiCorp
Comment=
Icon=user-bookmarks
URL=https://www.consul.io/docs/guides/consul-containers.html
