[Desktop Entry]
Version=1.0
Type=Link
Name=Using subuser - a quick tutorial — Subuser 0.6.1 documentation
Comment=
Icon=gnome-fs-bookmark
URL=http://subuser.org/tutorial-use.html
