[Desktop Entry]
Version=1.0
Type=Link
Name=[Tuto] HA: Un cluster Apache/MySQL avec DRBD et Heartbeat sur Debian 7 – Denis Rosenkranz
Comment=
Icon=user-bookmarks
URL=http://denisrosenkranz.com/tuto-ha-un-cluster-apachemysql-avec-drbd-et-heartbeat-sur-debian-7/
