[Desktop Entry]
Version=1.0
Type=Link
Name=[Tuto/HowTo] [Debian/Ubuntu] Clusteriser vos bases de données MariaDB avec Galera Cluster et HaProxy - LinuxFr.org
Comment=
Icon=user-bookmarks
URL=https://linuxfr.org/wiki/tuto-howto-debian-ubuntu-clusteriser-vos-bases-de-donnees-mariadb-avec-galera-cluster-et-haproxy
