[Desktop Entry]
Version=1.0
Type=Link
Name=Active/Passive MySQL High Availability Pacemaker Cluster with DRBD on CentOS 7 | Lisenet.com :: Linux | Security | Networking
Comment=
Icon=user-bookmarks
URL=https://www.lisenet.com/2016/activepassive-mysql-high-availability-pacemaker-cluster-with-drbd-on-centos-7/
