[Desktop Entry]
Version=1.0
Type=Link
Name=Créer un cluster HA avec corosync et pacemaker | memo-linux.com
Comment=
Icon=user-bookmarks
URL=https://memo-linux.com/creer-un-cluster-ha-avec-corosync-et-pacemaker/
