[Desktop Entry]
Version=1.0
Type=Link
Name=Galera Cluster mariaDB : principes et installation - EASYTEAM
Comment=
Icon=user-bookmarks
URL=https://easyteam.fr/galera-cluster-mariadb-principes-installation/
