[Desktop Entry]
Version=1.0
Type=Link
Name=HAProxy : Partie 1 : Installation, configuration, première prise en main | AlexNogard: Tutos IT
Comment=
Icon=user-bookmarks
URL=https://alexnogard.com/haproxy-partie-1-installation-configuration-centos-6/
