[Desktop Entry]
Version=1.0
Type=Link
Name=High-Availability Storage with GlusterFS on CentOS 7 - Mirror across two storage servers
Comment=
Icon=user-bookmarks
URL=https://www.howtoforge.com/tutorial/high-availability-storage-with-glusterfs-on-centos-7/
