[Desktop Entry]
Version=1.0
Type=Link
Name=How to Configure and Maintain High Availability/Clustering in Linux
Comment=
Icon=user-bookmarks
URL=https://www.tecmint.com/setup-high-availability-clustering-in-centos-ubuntu/?fbclid=IwAR0Xic8XT8ae5G34lYR2FswMeLMoUK8tmEPo0H_Nr4HNmG6mAiPRyAVtvbE
