[Desktop Entry]
Version=1.0
Type=Link
Name=How to Install and Configure HAProxy on CentOS/RHEL 7/6/5
Comment=
Icon=user-bookmarks
URL=https://tecadmin.net/install-and-configure-haproxy-on-centos/
