[Desktop Entry]
Version=1.0
Type=Link
Name=How to Setup Load Balancer in Linux with HAProxy, Nginx and Keepalived
Comment=
Icon=user-bookmarks
URL=https://linuxhandbook.com/load-balancing-setup/
