[Desktop Entry]
Version=1.0
Type=Link
Name=Installation et configuration de DRBD | SUPINFO, École Supérieure d'Informatique
Comment=
Icon=user-bookmarks
URL=https://www.supinfo.com/articles/single/2140-installation-configuration-drbd
