[Desktop Entry]
Version=1.0
Type=Link
Name=L'équilibrage de charge sous Linux avec LVS (théorie)
Comment=
Icon=user-bookmarks
URL=https://www.guillaume-leduc.fr/lequilibrage-de-charge-sous-linux-avec-lvs-theorie.html
