[Desktop Entry]
Version=1.0
Type=Link
Name=Linux Administration: Building a Load Balancer with LVS - Linux Virtual Server
Comment=
Icon=user-bookmarks
URL=http://www.linux-admins.net/2013/01/building-load-balancer-with-lvs-linux.html
