[Desktop Entry]
Version=1.0
Type=Link
Name=MariaDB Galera Cluster : la réplication multi maitres - Deimos.fr / Bloc Notes Informatique
Comment=
Icon=user-bookmarks
URL=https://wiki.deimos.fr/MariaDB_Galera_Cluster_:_la_r%C3%A9plication_multi_maitres
