[Desktop Entry]
Version=1.0
Type=Link
Name=mysql active active cluster with pacemaker | linux tutorial
Comment=
Icon=user-bookmarks
URL=http://www.alexlinux.com/mysql-active-active-cluster-with-pacemaker/
