[Desktop Entry]
Version=1.0
Type=Link
Name=The 5 Best Audio Tools For Linux
Comment=
Icon=gnome-fs-bookmark
URL=https://www.addictivetips.com/ubuntu-linux-tips/best-audio-tools-for-linux/
