[Desktop Entry]
Version=1.0
Type=Link
Name=VSCodium: 100% Open Source Version of Microsoft VS Code
Comment=
Icon=user-bookmarks
URL=https://itsfoss.com/vscodium/?fbclid=IwAR1bO1xN6IfdQAqEVnkkmAnj4NvRs2CVu7L-vAh0DWxvzgXdnYmyHElq9Xc
