[Desktop Entry]
Version=1.0
Type=Link
Name=Gérer vos secrets avec Vault – Partie 1/2 | Le blog de Linux Pratique
Comment=
Icon=gnome-fs-bookmark
URL=https://www.linux-pratique.com/2017/10/gerer-vos-secrets-avec-vault/
