[Desktop Entry]
Version=1.0
Type=Link
Name=How To Securely Manage Secrets with HashiCorp Vault on Ubuntu 16.04 | DigitalOcean
Comment=
Icon=gnome-fs-bookmark
URL=https://www.digitalocean.com/community/tutorials/how-to-securely-manage-secrets-with-hashicorp-vault-on-ubuntu-16-04
