[Desktop Entry]
Version=1.0
Type=Link
Name=[TUTO] Superviser ses machines avec Zabbix | Micougnou
Comment=
Icon=user-bookmarks
URL=http://www.micougnou.com/2013/04/tuto-superviser-ses-machines-avec-zabbix.html
