[Desktop Entry]
Version=1.0
Type=Link
Name=Prise en main de Zabbix [wiki monitoring-fr.org]
Comment=
Icon=user-bookmarks
URL=https://wiki.monitoring-fr.org/zabbix/zabbix-use
