[Desktop Entry]
Version=1.0
Type=Link
Name=Superviser mon serveur avec Zabbix | Mon coin du web…
Comment=
Icon=user-bookmarks
URL=https://eric.bugnet.fr/superviser-mon-serveur-avec-zabbix/
