[Desktop Entry]
Version=1.0
Type=Link
Name=Zabbix | Communauté Francophone de la Supervision Libre
Comment=
Icon=user-bookmarks
URL=https://www.monitoring-fr.org/solutions/zabbix/
