[Desktop Entry]
Version=1.0
Type=Link
Name=16 iptables tips and tricks for sysadmins | Opensource.com
Comment=
Icon=user-bookmarks
URL=https://opensource.com/article/18/10/iptables-tips-and-tricks?utm_campaign=intrel
