[Desktop Entry]
Version=1.0
Type=Link
Name=7 Uncommon uses of Iptables | Linuxaria
Comment=
Icon=user-bookmarks
URL=http://linuxaria.com/howto/tricks-iptables-firewall
