[Desktop Entry]
Version=1.0
Type=Link
Name=CIDR to IPv4 Address Range Utility Tool | IPAddressGuide
Comment=
Icon=user-bookmarks
URL=https://www.ipaddressguide.com/cidr
