[Desktop Entry]
Version=1.0
Type=Link
Name=Linux iptables Firewall Simplified Examples - Like Geeks
Comment=
Icon=user-bookmarks
URL=https://likegeeks.com/linux-iptables-firewall-examples/?fbclid=IwAR3oJZNMmFw8Heh1xaj_RGiwTEr-beQ---zvnUKdbMkyUvfeMrI2A54Kx14
