[Desktop Entry]
Version=1.0
Type=Link
Name=Linux: 25 Iptables Netfilter Firewall Examples For New SysAdmins - nixCraft
Comment=
Icon=user-bookmarks
URL=https://www.cyberciti.biz/tips/linux-iptables-examples.html
