[Desktop Entry]
Version=1.0
Type=Link
Name=tutoriel.securite | inetdoc.net
Comment=
Icon=user-bookmarks
URL=https://www.inetdoc.net/guides/tutoriel-secu/tutoriel.securite.destruction.dos.html
