[Desktop Entry]
Version=1.0
Type=Link
Name=How to dual-boot Linux and Windows | Opensource.com
Comment=
Icon=user-bookmarks
URL=https://opensource.com/article/18/5/dual-boot-linux
