[Desktop Entry]
Version=1.0
Type=Link
Name=How to Install Linux Mint 18 Alongside Windows 10 or 8 in Dual-Boot UEFI Mode
Comment=
Icon=gnome-fs-bookmark
URL=https://www.tecmint.com/install-linux-mint-18-alongside-windows-10-or-8-in-dual-boot-uefi-mode/?utm_content=buffer53310&utm_medium=social&utm_source=facebook.com&utm_campaign=buffer
