[Desktop Entry]
Version=1.0
Type=Link
Name=Linux on UEFI: A Quick Installation Guide
Comment=
Icon=gnome-fs-bookmark
URL=http://www.rodsbooks.com/linux-uefi/
