[Desktop Entry]
Version=1.0
Type=Link
Name=tutoriel:grub2_lancer_des_images_iso [Wiki ubuntu-fr]
Comment=
Icon=gnome-fs-bookmark
URL=https://doc.ubuntu-fr.org/tutoriel/grub2_lancer_des_images_iso
