[Desktop Entry]
Version=1.0
Type=Link
Name=Documentation | SpaceVim
Comment=
Icon=user-bookmarks
URL=https://spacevim.org/documentation/#core-pillars
