[Desktop Entry]
Version=1.0
Type=Link
Name=Learn Useful 'Vi/Vim' Editor Tips and Tricks to Enhance Your Skills - Part 1
Comment=
Icon=user-bookmarks
URL=https://www.tecmint.com/learn-vi-and-vim-editor-tips-and-tricks-in-linux/?fbclid=IwAR3Cb6QoGLbgGP12mvydpk0RbfMBZczzF1Q4qCacjaAH4OdoYRXBK7XUWjo
