[Desktop Entry]
Version=1.0
Type=Link
Name=5 alerting and visualization tools for sysadmins | Opensource.com
Comment=
Icon=user-bookmarks
URL=https://opensource.com/article/18/10/alerting-and-visualization-tools-sysadmins?sc_cid=70160000001273HAAQ
