[Desktop Entry]
Version=1.0
Type=Link
Name=Compilation, installation et configuration de Nagios 3 - System-Linux
Comment=
Icon=gnome-fs-bookmark
URL=https://www.system-linux.eu/index.php?post/2009/01/07/Configuration-et-installation-de-Nagios
