[Desktop Entry]
Version=1.0
Type=Link
Name=Découverte de l’outil de supervision Prometheus - LinuxFr.org
Comment=
Icon=user-bookmarks
URL=https://linuxfr.org/news/decouverte-de-l-outil-de-supervision-prometheus
