[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - nicolargo/nagiosautoinstall: Installation automatique de Nagios depuis les sources
Comment=
Icon=user-bookmarks
URL=https://github.com/nicolargo/nagiosautoinstall
