[Desktop Entry]
Version=1.0
Type=Link
Name=Grafana Template for internal icinga2 checks - Metrics / InfluxDB - Monitoring Portal
Comment=
Icon=user-bookmarks
URL=https://monitoring-portal.org/t/grafana-template-for-internal-icinga2-checks/3140
