[Desktop Entry]
Version=1.0
Type=Link
Name=How to Use Glances to Monitor Remote Linux in Web Server Mode
Comment=
Icon=user-bookmarks
URL=https://www.tecmint.com/glances-monitor-remote-linux-in-web-server-mode/
