[Desktop Entry]
Version=1.0
Type=Link
Name=Installation et configuration de Icinga2 et icinga2web - Jérémie Kassianoff
Comment=
Icon=user-bookmarks
URL=https://www.kassianoff.fr/blog/fr/installation-configuration-icinga2-icinga2web
