[Desktop Entry]
Version=1.0
Type=Link
Name=Install NagiosQL Nagios Configurator on CentOS 7
Comment=
Icon=user-bookmarks
URL=https://ahmermansoor.blogspot.com/2019/02/install-nagiosql-nagios-configurator-centos-7.html?fbclid=IwAR2N1jTyjjbfeLkiEb4LXMQNQKsN6nD4tkg63w_mrJulNG-7OO2CW1cyGVI
