[Desktop Entry]
Version=1.0
Type=Link
Name=La Supervision avec Libre NMS – Phelep Jérémy
Comment=
Icon=user-bookmarks
URL=https://phelepjeremy.wordpress.com/2018/01/29/la-supervision-avec-libre-nms/
