[Desktop Entry]
Version=1.0
Type=Link
Name=Monitoring 101 : Les alertes durant les astreintes | Aldevar - Le Blog
Comment=
Icon=user-bookmarks
URL=https://blog.devarieux.net/2017/10/monitoring-101-alertes-durant-astreintes.html
