[Desktop Entry]
Version=1.0
Type=Link
Name=Supervision express avec Glances | | Linux | IT-Connect
Comment=
Icon=user-bookmarks
URL=https://www.it-connect.fr/supervision-express-avec-glances/
