[Desktop Entry]
Version=1.0
Type=Link
Name=69 best open source ftp projects.
Comment=
Icon=user-bookmarks
URL=https://www.findbestopensource.com/tagged/ftp
