[Desktop Entry]
Version=1.0
Type=Link
Name=Bmon : outil monitoring de bande passante en temps réel sous GNU/Linux | memo-linux.com
Comment=
Icon=user-bookmarks
URL=https://memo-linux.com/bmon-outil-monitoring-de-bande-passante-en-temps-reel-sous-gnulinux/
