[Desktop Entry]
Version=1.0
Type=Link
Name=How to Install vnStat and vnStati to Monitor Network Traffic in RHEL/CentOS 7
Comment=
Icon=user-bookmarks
URL=https://www.tecmint.com/install-vnstat-and-vnstati-to-monitor-linux-network-traffic/
