[Desktop Entry]
Version=1.0
Type=Link
Name=How To Install Asterisk on CentOS 7 | Linuxize
Comment=
Icon=user-bookmarks
URL=https://linuxize.com/post/how-to-install-asterisk-on-centos-7/
