[Desktop Entry]
Version=1.0
Type=Link
Name=Packet Analyzer: 15 TCPDUMP Command Examples
Comment=
Icon=gnome-fs-bookmark
URL=https://www.thegeekstuff.com/2010/08/tcpdump-command-examples/
