[Desktop Entry]
Version=1.0
Type=Link
Name=Replacing ifconfig with ip | Linux.com | The source for Linux information
Comment=
Icon=user-bookmarks
URL=https://www.linux.com/learn/replacing-ifconfig-ip
