[Desktop Entry]
Version=1.0
Type=Link
Name=Traceroute Basics - LinuxConfig.org
Comment=
Icon=user-bookmarks
URL=https://linuxconfig.org/traceroute-basics
