[Desktop Entry]
Version=1.0
Type=Link
Name=Ultimate Security Proxy With Tor
Comment=
Icon=user-bookmarks
URL=https://www.howtoforge.com/ultimate-security-proxy-with-tor
