[Desktop Entry]
Version=1.0
Type=Link
Name=Créez et maîtrisez votre cloud personnel avec CozyCloud !
Comment=
Icon=gnome-fs-bookmark
URL=https://www.guillaume-leduc.fr/creez-et-maitrisez-votre-cloud-personnel-avec-cozycloud.html
