[Desktop Entry]
Version=1.0
Type=Link
Name=How to Install Piwik (Alternative to Google Analytics) in Linux
Comment=
Icon=gnome-fs-bookmark
URL=https://www.tecmint.com/install-piwik-alternative-to-google-analytics-in-linux/?utm_content=buffere7c3c&utm_medium=social&utm_source=facebook.com&utm_campaign=buffer
