[Desktop Entry]
Version=1.0
Type=Link
Name=How to Install Elxis CMS on Ubuntu 18.04 LTS
Comment=
Icon=user-bookmarks
URL=https://www.howtoforge.com/tutorial/how-to-install-elxis-cms-on-ubuntu-1804/
