[Desktop Entry]
Version=1.0
Type=Link
Name=How To Install, Secure, And Automate AWStats (CentOS/RHEL)
Comment=
Icon=gnome-fs-bookmark
URL=https://www.howtoforge.com/how-to-install-secure-and-automate-awstats-centos-rhel
