[Desktop Entry]
Version=1.0
Type=Link
Name=How to Install CodeIgniter in CentOS 7
Comment=
Icon=user-bookmarks
URL=https://www.tecmint.com/install-codeigniter-in-centos-7/
