[Desktop Entry]
Version=1.0
Type=Link
Name=HR Management System | OrangeHRM l HR Management Software
Comment=
Icon=user-bookmarks
URL=https://www.orangehrm.com/
