[Desktop Entry]
Version=1.0
Type=Link
Name=Installing Document Server for Linux on Debian, Ubuntu and derivatives - ONLYOFFICE
Comment=
Icon=gnome-fs-bookmark
URL=https://helpcenter.onlyoffice.com/server/linux/document/linux-installation.aspx
