[Desktop Entry]
Version=1.0
Type=Link
Name=Install SuiteCRM (Customer Relationship Management) in Linux
Comment=
Icon=gnome-fs-bookmark
URL=https://www.tecmint.com/install-suitecrm-in-centos-and-ubuntu/?utm_content=bufferce268&utm_medium=social&utm_source=facebook.com&utm_campaign=buffer
