[Desktop Entry]
Version=1.0
Type=Link
Name=Installation de Joomla 3 et VirtueMart 3 Préinstallé - VirtueMart, boutique en ligne
Comment=
Icon=gnome-fs-bookmark
URL=https://www.virtuemart.fr/documentation/23-installation/60-installation-de-joomla-3-et-virtuemart-3-preinstalle
