[Desktop Entry]
Version=1.0
Type=Link
Name=Intégration de ONLYOFFICE à Nextcloud : Partage et édition de documents publique | memo-linux.com
Comment=
Icon=user-bookmarks
URL=https://memo-linux.com/integration-de-onlyoffice-a-nextcloud-partage-et-edition-de-documents-publique/
