[Desktop Entry]
Version=1.0
Type=Link
Name=Joplin - an open source note taking and to-do application with synchronisation capabilities
Comment=
Icon=user-bookmarks
URL=https://joplin.cozic.net/
