[Desktop Entry]
Version=1.0
Type=Link
Name=Knowage - Open Source Suite for your Business Analytics
Comment=
Icon=user-bookmarks
URL=https://www.knowage-suite.com/site/home/
