[Desktop Entry]
Version=1.0
Type=Link
Name=Mesurez l'audience de votre site web avec AWStats et JAWStats
Comment=
Icon=gnome-fs-bookmark
URL=https://www.guillaume-leduc.fr/mesurez-laudience-de-votre-site-web-avec-awstats-et-jawstats.html
