[Desktop Entry]
Version=1.0
Type=Link
Name=OCS Inventory Serveur 2.4 est publié - LinuxFr.org
Comment=
Icon=user-bookmarks
URL=https://linuxfr.org/news/ocs-inventory-serveur-2-4-est-publie
