[Desktop Entry]
Version=1.0
Type=Link
Name=Online Editors - office en ligne
Comment=
Icon=gnome-fs-bookmark
URL=https://helpcenter.onlyoffice.com/fr/ONLYOFFICE-Editors/index.aspx
