[Desktop Entry]
Version=1.0
Type=Link
Name=Sentrifugo | HRMS Software | Free HR Software | Opensource HRMS
Comment=
Icon=user-bookmarks
URL=http://www.sentrifugo.com/
