[Desktop Entry]
Version=1.0
Type=Link
Name=Simple Invoices | An Open Source, Web-Based Invoicing System
Comment=
Icon=gnome-fs-bookmark
URL=http://www.simpleinvoices.org/
