[Desktop Entry]
Version=1.0
Type=Link
Name=tracim/tracim: Threads, files and pages with status and full history. All in the same place.
Comment=
Icon=gnome-fs-bookmark
URL=https://github.com/tracim/tracim
