[Desktop Entry]
Version=1.0
Type=Link
Name=22 SSH Examples, Practical Tips & Tunnels | HackerTarget.com
Comment=
Icon=user-bookmarks
URL=https://hackertarget.com/ssh-examples-tunnels/
