[Desktop Entry]
Version=1.0
Type=Link
Name=Back to Basics : Le Bastion SSH | OCTO Talks !
Comment=
Icon=user-bookmarks
URL=https://blog.octo.com/le-bastion-ssh/
