[Desktop Entry]
Version=1.0
Type=Link
Name=How To Setup SSH Keys on a Linux / Unix System - nixCraft
Comment=
Icon=gnome-fs-bookmark
URL=https://www.cyberciti.biz/faq/how-to-set-up-ssh-keys-on-linux-unix/
