[Desktop Entry]
Version=1.0
Type=Link
Name=How To Set Up SSH To Use TOR
Comment=
Icon=user-bookmarks
URL=https://www.howtoforge.com/anonymous-ssh-sessions-with-tor
