[Desktop Entry]
Version=1.0
Type=Link
Name=OpenSSH Config File Examples - nixCraft
Comment=
Icon=user-bookmarks
URL=https://www.cyberciti.biz/faq/create-ssh-config-file-on-linux-unix/
