[Desktop Entry]
Version=1.0
Type=Link
Name=Simplify Your Life With an SSH Config File | Nerderati
Comment=
Icon=gnome-fs-bookmark
URL=https://nerderati.com/2011/03/17/simplify-your-life-with-an-ssh-config-file/
