[Desktop Entry]
Version=1.0
Type=Link
Name=SSH Tunneling On Android · Shantanu Vs The World
Comment=
Icon=user-bookmarks
URL=https://shantanugoel.com/2010/08/02/ssh-tunneling-android/
