[Desktop Entry]
Version=1.0
Type=Link
Name=SSHFS - Mount a remote file system via SSH in 15 minutes | SOLDIERX.COM
Comment=
Icon=gnome-fs-bookmark
URL=https://www.soldierx.com/tutorials/SSHFS-Mount-remote-file-system-SSH-15-minutes
