[Desktop Entry]
Version=1.0
Type=Link
Name=Symkat - SSH: Tips And Tricks You Need
Comment=
Icon=user-bookmarks
URL=http://www.symkat.com/ssh-tips-and-tricks-you-need
