[Desktop Entry]
Version=1.0
Type=Link
Name=Sécuriser son fichier SSH known_hosts - Qanuq
Comment=
Icon=user-bookmarks
URL=http://www.qanuq.com/2018/05/05/securiser-ssh-known-hosts/
