[Desktop Entry]
Version=1.0
Type=Link
Name=Tmate - Securely Share SSH Terminal Session with Linux Users
Comment=
Icon=user-bookmarks
URL=https://www.tecmint.com/tmate-share-ssh-terminal-session/
