[Desktop Entry]
Version=1.0
Type=Link
Name=Top 20 OpenSSH Server Best Security Practices - nixCraft
Comment=
Icon=user-bookmarks
URL=https://www.cyberciti.biz/tips/linux-unix-bsd-openssh-server-best-practices.html
