[Desktop Entry]
Version=1.0
Type=Link
Name=Useful things you can make SSH do | Hacker News
Comment=
Icon=user-bookmarks
URL=https://news.ycombinator.com/item?id=1536126
