[Desktop Entry]
Version=1.0
Type=Link
Name=10 Things to Do After Fresh Installation of FreeBSD
Comment=
Icon=user-bookmarks
URL=https://www.tecmint.com/things-to-do-after-installing-freebsd/?utm_content=buffer07b43&utm_medium=social&utm_source=facebook.com&utm_campaign=buffer
