[Desktop Entry]
Version=1.0
Type=Link
Name=23 Useful PKG Command Examples to Manage Packages in FreeBSD
Comment=
Icon=user-bookmarks
URL=https://www.tecmint.com/pkg-command-examples-to-manage-packages-in-freebsd/?utm_content=buffer7982b&utm_medium=social&utm_source=facebook.com&utm_campaign=buffer
