[Desktop Entry]
Version=1.0
Type=Link
Name=FreeBSD 11.1 Installation Guide
Comment=
Icon=user-bookmarks
URL=https://www.tecmint.com/freebsd-11-1-installation-guide/?utm_content=bufferdf96a&utm_medium=social&utm_source=facebook.com&utm_campaign=buffer
