[Desktop Entry]
Version=1.0
Type=Link
Name=pfSense® - World's Most Trusted Open Source Firewall
Comment=
Icon=user-bookmarks
URL=https://www.pfsense.org/
