[Desktop Entry]
Version=1.0
Type=Link
Name=[MYSQL] Réinitialiser le mot de passe root « Croc-Informatique.fr
Comment=
Icon=user-bookmarks
URL=https://www.croc-informatique.fr/2010/06/mysql-rinitialiser-le-mot-de-passe-root/
