[Desktop Entry]
Version=1.0
Type=Link
Name=12 bonnes raisons d’être un administrateur systèmes fainéant – Framablog
Comment=
Icon=user-bookmarks
URL=https://framablog.org/2012/09/25/adminsys-paresseux/
