[Desktop Entry]
Version=1.0
Type=Link
Name=16 Linux server monitoring commands you should know | HPE | HPE
Comment=
Icon=user-bookmarks
URL=https://www.hpe.com/us/en/insights/articles/16-linux-server-monitoring-commands-you-really-need-to-know-1703.html
