[Desktop Entry]
Version=1.0
Type=Link
Name=5 Linux Tools to Help Recover Data from Corrupted Drives - Make Tech Easier
Comment=
Icon=user-bookmarks
URL=https://www.maketecheasier.com/recover-data-linux-tools/
