[Desktop Entry]
Version=1.0
Type=Link
Name=An Introduction to the Z File System (ZFS) for Linux
Comment=
Icon=gnome-fs-bookmark
URL=https://www.howtogeek.com/175159/an-introduction-to-the-z-file-system-zfs-for-linux/
