[Desktop Entry]
Version=1.0
Type=Link
Name=Btrfs: Subvolumes and snapshots [LWN.net]
Comment=
Icon=user-bookmarks
URL=https://lwn.net/Articles/579009/
