[Desktop Entry]
Version=1.0
Type=Link
Name=CentOS 7 : Configure NFS Server : Server World
Comment=
Icon=gnome-fs-bookmark
URL=https://www.server-world.info/en/note?os=CentOS_7&p=nfs&f=1
