[Desktop Entry]
Version=1.0
Type=Link
Name=Clonage de machines avec Clonezilla | SUPINFO, École Supérieure d'Informatique
Comment=
Icon=user-bookmarks
URL=https://www.supinfo.com/articles/single/1078-clonage-machines-avec-clonezilla
