[Desktop Entry]
Version=1.0
Type=Link
Name=DistroTest.net - The first online operating system tester
Comment=
Icon=user-bookmarks
URL=https://distrotest.net/?module=systems&submodule=run&id=95040
