[Desktop Entry]
Version=1.0
Type=Link
Name=High-Availability Storage with GlusterFS on Ubuntu 18.04 LTS
Comment=
Icon=user-bookmarks
URL=https://www.howtoforge.com/tutorial/high-availability-storage-with-glusterfs-on-ubuntu-1804/
