[Desktop Entry]
Version=1.0
Type=Link
Name=How To Recover Deleted Files In Linux [Beginner’s Guide] | It's FOSS
Comment=
Icon=user-bookmarks
URL=https://itsfoss.com/recover-deleted-files-linux/
