[Desktop Entry]
Version=1.0
Type=Link
Name=How to install and use Logwatch on Linux - TechRepublic
Comment=
Icon=user-bookmarks
URL=https://www.techrepublic.com/article/how-to-install-and-use-logwatch-on-linux/
