[Desktop Entry]
Version=1.0
Type=Link
Name=How to Setup Central Logging Server with Rsyslog in Linux
Comment=
Icon=user-bookmarks
URL=https://www.tecmint.com/install-rsyslog-centralized-logging-in-centos-ubuntu/
