[Desktop Entry]
Version=1.0
Type=Link
Name=How to Use Chkservice to Manage Systemd Units in Linux - Make Tech Easier
Comment=
Icon=user-bookmarks
URL=https://www.maketecheasier.com/use-chkservice-manage-systemd-units-linux/
