[Desktop Entry]
Version=1.0
Type=Link
Name=How to Manage Btrfs Storage Pools, Subvolumes And Snapshots on Linux (part 1) | Linux.com | The source for Linux information
Comment=
Icon=user-bookmarks
URL=https://www.linux.com/learn/how-manage-btrfs-storage-pools-subvolumes-and-snapshots-linux-part-1
