[Desktop Entry]
Version=1.0
Type=Link
Name=How to display data in a human-friendly way on Linux | Network World
Comment=
Icon=user-bookmarks
URL=https://www.networkworld.com/article/3296631/linux/displaying-data-in-a-human-friendly-way-on-linux.html
