[Desktop Entry]
Version=1.0
Type=Link
Name=Linux bash exit status and how to set exit status in bash - nixCraft
Comment=
Icon=user-bookmarks
URL=https://www.cyberciti.biz/faq/linux-bash-exit-status-set-exit-statusin-bash/?fbclid=IwAR3wK3cWsQGJgK9SjGw5pc8OeG00oyWK9nzEkA_n3gHfJkw8ALFMEdWhCJI
