[Desktop Entry]
Version=1.0
Type=Link
Name=Linux chage Command Tutorial for Beginners (6 Examples)
Comment=
Icon=user-bookmarks
URL=https://www.howtoforge.com/linux-chage-command/
