[Desktop Entry]
Version=1.0
Type=Link
Name=LinuxBoot for Servers: Enter Open Source, Goodbye Proprietary UEFI | It's FOSS
Comment=
Icon=user-bookmarks
URL=https://itsfoss.com/linuxboot-uefi/
