[Desktop Entry]
Version=1.0
Type=Link
Name=Linux lsattr Command Tutorial for Beginners (with Examples)
Comment=
Icon=user-bookmarks
URL=https://www.howtoforge.com/linux-lsattr-command/
