[Desktop Entry]
Version=1.0
Type=Link
Name=L’histoire de la création de Linux | Le blog Sodifrance
Comment=
Icon=user-bookmarks
URL=https://www.sodifrance.fr/blog/lhistoire-de-la-creation-de-linux/
