[Desktop Entry]
Version=1.0
Type=Link
Name=PhotoRec - Recover Deleted or Lost Files in Linux
Comment=
Icon=user-bookmarks
URL=https://www.tecmint.com/photorec-recover-deleted-lost-files-in-linux/
