[Desktop Entry]
Version=1.0
Type=Link
Name=Set Alarm to Automatically Power On Linux Computer - Make Tech Easier
Comment=
Icon=user-bookmarks
URL=https://www.maketecheasier.com/alarm-automatically-power-on-linux/
