[Desktop Entry]
Version=1.0
Type=Link
Name=Sysdig - A Powerful System Monitoring and Troubleshooting Tool for Linux
Comment=
Icon=user-bookmarks
URL=https://www.tecmint.com/sysdig-system-monitoring-and-troubleshooting-tool-for-linux/?utm_content=bufferd0ce4&utm_medium=social&utm_source=facebook.com&utm_campaign=buffer
