[Desktop Entry]
Version=1.0
Type=Link
Name=Troubleshooting a Linux server: First five things to do | HPE | HPE
Comment=
Icon=user-bookmarks
URL=https://www.hpe.com/us/en/insights/articles/the-first-5-things-to-do-when-your-linux-server-keels-over-1705.html
