[Desktop Entry]
Version=1.0
Type=Link
Name=Tutoriel | Tuto ZFS Linux | Journal d'un Admin Linux
Comment=
Icon=gnome-fs-bookmark
URL=https://journaldunadminlinux.fr/tutoriel-tuto-zfs-linux/
