[Desktop Entry]
Version=1.0
Type=Link
Name=Welcome to lnav’s documentation! — lnav 0.8.4 documentation
Comment=
Icon=gnome-fs-bookmark
URL=https://lnav.readthedocs.io/en/latest/
