[Desktop Entry]
Version=1.0
Type=Link
Name=What is ZFS? Why People Use ZFS? [Explained for Beginners] | It's FOSS
Comment=
Icon=gnome-fs-bookmark
URL=https://itsfoss.com/what-is-zfs/
