[Desktop Entry]
Version=1.0
Type=Link
Name=ZFS sous GNU/linux / GLMF-114 / GNU/Linux Magazine / Connect - Edition Diamond
Comment=
Icon=gnome-fs-bookmark
URL=https://connect.ed-diamond.com/GNU-Linux-Magazine/GLMF-114/ZFS-sous-GNU-linux
