[Desktop Entry]
Version=1.0
Type=Link
Name=Download/template/precreated - OpenVZ Virtuozzo Containers Wiki
Comment=
Icon=user-bookmarks
URL=https://wiki.openvz.org/Download/template/precreated
