[Desktop Entry]
Version=1.0
Type=Link
Name=Configure Samba to use domain accounts for authentication - nixCraft
Comment=
Icon=user-bookmarks
URL=https://www.cyberciti.biz/faq/configure-samba-to-use-domain-accounts-for-authentication/
