[Desktop Entry]
Version=1.0
Type=Link
Name=Install, Access, Mount and Authenticate Linux Samba Server - Like Geeks
Comment=
Icon=gnome-fs-bookmark
URL=https://likegeeks.com/linux-samba-server/
