[Desktop Entry]
Version=1.0
Type=Link
Name=Samba en mode ADS pour un file server - System-Linux
Comment=
Icon=user-bookmarks
URL=https://www.system-linux.eu/index.php?post/2010/05/17/Samba-en-mode-ADS-pour-un-file-server
