[Desktop Entry]
Version=1.0
Type=Link
Name=Setting up Samba as an Active Directory Domain Controller - SambaWiki
Comment=
Icon=user-bookmarks
URL=https://wiki.samba.org/index.php/Setting_up_Samba_as_an_Active_Directory_Domain_Controller?fbclid=IwAR0oXYzui6ymzu0Ka6-TWgVsvGXBrMZDUVGTIx2bbBCvrklSAArD9ibFuOs
