[Desktop Entry]
Version=1.0
Type=Link
Name=#3 Sécuriser son serveur : le pare-feu facile avec ufw
Comment=
Icon=gnome-fs-bookmark
URL=https://www.guillaume-leduc.fr/3-securiser-son-serveur-le-pare-feu-facile-avec-ufw.html
