[Desktop Entry]
Version=1.0
Type=Link
Name=25 Hardening Security Tips for Linux Servers
Comment=
Icon=gnome-fs-bookmark
URL=https://www.tecmint.com/linux-server-hardening-security-tips/
