[Desktop Entry]
Version=1.0
Type=Link
Name=A cheat-sheet for password crackers
Comment=
Icon=user-bookmarks
URL=https://www.unix-ninja.com/p/A_cheat-sheet_for_password_crackers
