[Desktop Entry]
Version=1.0
Type=Link
Name=Debian / Ubuntu: Install Duplicity For Encrypted Backup In Cloud - nixCraft
Comment=
Icon=gnome-fs-bookmark
URL=https://www.cyberciti.biz/faq/duplicity-installation-configuration-on-debian-ubuntu-linux/
