[Desktop Entry]
Version=1.0
Type=Link
Name=EMAIL SPOOFING ATTACK: [SEND EMAIl WITH FAKE EMAIL ADDRESS] :USING KALI LINUX - YouTube
Comment=
Icon=user-bookmarks
URL=https://www.youtube.com/watch?v=43runXHGbIc&feature=share
