[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - evilsocket/opensnitch: OpenSnitch is a GNU/Linux port of the Little Snitch application firewall.
Comment=
Icon=user-bookmarks
URL=https://github.com/evilsocket/opensnitch
