[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - arismelachroinos/lscript: The LAZY script will make your life easier, and of course faster.
Comment=
Icon=user-bookmarks
URL=https://github.com/arismelachroinos/lscript
