[Desktop Entry]
Version=1.0
Type=Link
Name=Guide d’hygiène informatique | Agence nationale de la sécurité des systèmes d'information
Comment=
Icon=user-bookmarks
URL=https://www.ssi.gouv.fr/entreprise/guide/guide-dhygiene-informatique/
