[Desktop Entry]
Version=1.0
Type=Link
Name=How to Install, Configure and Use Firewalld in CentOS and Ubuntu
Comment=
Icon=user-bookmarks
URL=https://www.tecmint.com/install-configure-firewalld-in-centos-ubuntu/#
