[Desktop Entry]
Version=1.0
Type=Link
Name=How to reset a Windows password with Linux | Opensource.com
Comment=
Icon=gnome-fs-bookmark
URL=https://opensource.com/article/18/3/how-reset-windows-password-linux?sc_cid=70160000001273HAAQ
