[Desktop Entry]
Version=1.0
Type=Link
Name=How to Install and Configure Basic OpnSense Firewall
Comment=
Icon=user-bookmarks
URL=https://www.tecmint.com/install-and-configure-opnsense-firewall/?fbclid=IwAR32nuBfLgVV9IfTgIjJlxBquxVHZ2EcrTPYgpwSbisF7XiG-DseWS68Ckc
