[Desktop Entry]
Version=1.0
Type=Link
Name=How to Set Limits for User Running Processes in Linux
Comment=
Icon=gnome-fs-bookmark
URL=https://www.tecmint.com/set-limits-on-user-processes-using-ulimit-in-linux/
