[Desktop Entry]
Version=1.0
Type=Link
Name=How To Install & Use VeraCrypt In Linux An Alternative To TrueCrypt [COMPLETE TUTORIAL] - LinuxAndUbuntu - Linux News | FOSS Reviews | Linux Tutorials HowTo
Comment=
Icon=gnome-fs-bookmark
URL=http://www.linuxandubuntu.com/home/encrypt-data-in-linux-with-veracrypt-an-alternative-to-truecrypt
