[Desktop Entry]
Version=1.0
Type=Link
Name=How to force users to use secure passwords on Ubuntu/Debian Linux - nixCraft
Comment=
Icon=user-bookmarks
URL=https://www.cyberciti.biz/faq/securing-passwords-libpam-cracklib-on-debian-ubuntu-linux/
