[Desktop Entry]
Version=1.0
Type=Link
Name=InCron - Inotify Cron Daemon - L'admin sous GNU / Linux - Blog Libre
Comment=
Icon=user-bookmarks
URL=http://blog.admin-linux.org/administration/incron-inotify-cron-daemon
