[Desktop Entry]
Version=1.0
Type=Link
Name=Kali Linux Cookbook.pdf
Comment=
Icon=user-bookmarks
URL=ftp://lab.dnict.vn/1.DNICT/2.Ebooks/books/Kali%20Linux%20Cookbook.pdf
