[Desktop Entry]
Version=1.0
Type=Link
Name=Linux: TMOUT To Automatically Log Users Out - nixCraft
Comment=
Icon=user-bookmarks
URL=https://www.cyberciti.biz/faq/linux-tmout-shell-autologout-variable/
