[Desktop Entry]
Version=1.0
Type=Link
Name=Linux Password Cracking: Explain unshadow and john Commands ( John the Ripper Tool ) - nixCraft
Comment=
Icon=gnome-fs-bookmark
URL=https://www.cyberciti.biz/faq/unix-linux-password-cracking-john-the-ripper/
