[Desktop Entry]
Version=1.0
Type=Link
Name=Linux / Unix: chroot Command Examples - nixCraft
Comment=
Icon=gnome-fs-bookmark
URL=https://www.cyberciti.biz/faq/unix-linux-chroot-command-examples-usage-syntax/
