[Desktop Entry]
Version=1.0
Type=Link
Name=nftables wiki
Comment=
Icon=user-bookmarks
URL=https://wiki.nftables.org/wiki-nftables/index.php/Main_Page
