[Desktop Entry]
Version=1.0
Type=Link
Name=Open-Source IT Security Tools Developed by Core Security
Comment=
Icon=user-bookmarks
URL=https://www.coresecurity.com/grid/index-open-source-tools
