[Desktop Entry]
Version=1.0
Type=Link
Name=Plan du site [WikiT]
Comment=
Icon=user-bookmarks
URL=https://wiki.fws.fr/doku.php/doc_ipasserelle/administrateurs/renvoi_de_port?do=index
