[Desktop Entry]
Version=1.0
Type=Link
Name=The Linux commands you should NEVER use | HPE
Comment=
Icon=user-bookmarks
URL=https://www.hpe.com/us/en/insights/articles/the-linux-commands-you-should-never-use-1712.html
