[Desktop Entry]
Version=1.0
Type=Link
Name=Top 3 Forensic Tools For Linux Users - Latest Hacking News
Comment=
Icon=user-bookmarks
URL=https://latesthackingnews.com/2016/12/16/top-3-forensic-tools-linux-users/
