[Desktop Entry]
Version=1.0
Type=Link
Name=Top 32 Nmap Command Examples For Linux Sys/Network Admins - nixCraft
Comment=
Icon=user-bookmarks
URL=https://www.cyberciti.biz/security/nmap-command-examples-tutorials/
