[Desktop Entry]
Version=1.0
Type=Link
Name=Ubuntu – Behind the Eyes
Comment=
Icon=user-bookmarks
URL=https://www.lucaswilliams.net/index.php/category/ubuntu/
