[Desktop Entry]
Version=1.0
Type=Link
Name=Usage and Examples | Nmap Network Scanning
Comment=
Icon=user-bookmarks
URL=https://nmap.org/book/nse-usage.html#nse-categories
