[Desktop Entry]
Version=1.0
Type=Link
Name=WIRESHARK - The Easy Tutorial - Filters
Comment=
Icon=gnome-fs-bookmark
URL=https://openmaniak.com/wireshark_filters.php
