[Desktop Entry]
Version=1.0
Type=Link
Name=Configuring a Jenkins Pipeline using a YAML file
Comment=
Icon=user-bookmarks
URL=https://jenkins.io/blog/2018/04/25/configuring-jenkins-pipeline-with-yaml-file/?utm_source=feedburner&utm_medium=twitter&utm_campaign=Feed%3A+ContinuousBlog+%28Jenkins%29
