[Desktop Entry]
Version=1.0
Type=Link
Name=configuration-as-code-plugin/README.md at master · jenkinsci/configuration-as-code-plugin · GitHub
Comment=
Icon=user-bookmarks
URL=https://github.com/jenkinsci/configuration-as-code-plugin/blob/master/README.md
