[Desktop Entry]
Version=1.0
Type=Link
Name=Getting started with Jenkins Pipelines | Opensource.com
Comment=
Icon=user-bookmarks
URL=https://opensource.com/article/18/4/jenkins-pipelines-with-cucumber?sc_cid=7016000000127ECAAY
