[Desktop Entry]
Version=1.0
Type=Link
Name=How to Setup Jenkins Master and Slave on Ubuntu 18.04 LTS
Comment=
Icon=user-bookmarks
URL=https://www.howtoforge.com/tutorial/ubuntu-jenkins-master-slave/
