[Desktop Entry]
Version=1.0
Type=Link
Name=Jenkins - 10 choses que tout le monde fait qu'il ne faut pas faire - Speaker Deck
Comment=
Icon=user-bookmarks
URL=https://speakerdeck.com/alecharp/jenkins-10-choses-que-tout-le-monde-fait-quil-ne-faut-pas-faire
