[Desktop Entry]
Version=1.0
Type=Link
Name=DevTube - The best developer videos in one place
Comment=
Icon=user-bookmarks
URL=https://dev.tube/find?q=ELK
