[Desktop Entry]
Version=1.0
Type=Link
Name=10 Amazing Websites Every Linux Gamer Must Follow - It's FOSS
Comment=
Icon=user-bookmarks
URL=https://itsfoss.com/best-linux-gaming-websites/?fbclid=IwAR36osNeuyKsdzZnlccgEAkqT6x-VWxMXQ5csje3NzT4W2Uxo1Q8Zm_2oic
