[Desktop Entry]
Version=1.0
Type=Link
Name=Gaming On Linux: 2 Ridiculous Myths And 2 Brutal Truths : linux
Comment=
Icon=gnome-fs-bookmark
URL=https://www.reddit.com/r/linux/comments/9cw18b/gaming_on_linux_2_ridiculous_myths_and_2_brutal/
