[Desktop Entry]
Version=1.0
Type=Link
Name=Gaming On Linux: All You Need To Know | It's FOSS
Comment=
Icon=user-bookmarks
URL=https://itsfoss.com/linux-gaming-guide/
