[Desktop Entry]
Version=1.0
Type=Link
Name=Jouer à Quake III Arena en natif sous Ubuntu avec game-data-packager
Comment=
Icon=user-bookmarks
URL=https://blog.dimitriregnier.net/jouer-%C3%A0-quake-iii-arena-en-natif-sous-ubuntu-avec-game-data-packager-9cf5b4dc2441
