[Desktop Entry]
Version=1.0
Type=Link
Name=Où trouver des jeux libres et/ou sous linux
Comment=
Icon=user-bookmarks
URL=http://blog.admin-linux.org/geek/ou-trouver-des-jeux-libres-etou-sous-linux
