[Desktop Entry]
Version=1.0
Type=Link
Name=Configure and Use Linux-PAM - Like Geeks
Comment=
Icon=gnome-fs-bookmark
URL=https://likegeeks.com/linux-pam-easy-guide/
