[Desktop Entry]
Version=1.0
Type=Link
Name=How to Configure and Use PAM in Linux
Comment=
Icon=user-bookmarks
URL=https://www.tecmint.com/configure-pam-in-centos-ubuntu-linux/
