[Desktop Entry]
Version=1.0
Type=Link
Name=How to: Log connections made by user for any service under Linux - nixCraft
Comment=
Icon=gnome-fs-bookmark
URL=https://www.cyberciti.biz/faq/linux-tcpip-connection-monitor-howto/
