[Desktop Entry]
Version=1.0
Type=Link
Name=PAM Pluggable Authentication Modules / Wiki / Debian-facile
Comment=
Icon=gnome-fs-bookmark
URL=https://debian-facile.org/doc:systeme:pam
