[Desktop Entry]
Version=1.0
Type=Link
Name=The Linux-PAM System Administrators' Guide
Comment=
Icon=gnome-fs-bookmark
URL=http://www.linux-pam.org/Linux-PAM-html/Linux-PAM_SAG.html
