[Desktop Entry]
Version=1.0
Type=Link
Name=tutoriel:restrictions_horaires [Wiki ubuntu-fr]
Comment=
Icon=gnome-fs-bookmark
URL=https://doc.ubuntu-fr.org/tutoriel/restrictions_horaires
