[Desktop Entry]
Version=1.0
Type=Link
Name=utilisateurs:bcag2:cracklib [Wiki ubuntu-fr]
Comment=
Icon=gnome-fs-bookmark
URL=https://doc.ubuntu-fr.org/utilisateurs/bcag2/cracklib
