[Desktop Entry]
Version=1.0
Type=Link
Name=AWK Tutorial: Learn Basic AWK Commands with Examples
Comment=
Icon=user-bookmarks
URL=https://linuxhandbook.com/awk-command-tutorial/
