[Desktop Entry]
Version=1.0
Type=Link
Name=Free Resources for Open Source Certification and Training | Linux.com | The source for Linux information
Comment=
Icon=user-bookmarks
URL=https://www.linux.com/news/2018/8/free-resources-open-source-certification-success
