[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - trimstray/test-your-sysadmin-skills: A collection of *nix Sysadmin Test Questions and Answers for Interview/Exam (2018 Edition). Test your knowledge in different fields with these Q/A.
Comment=
Icon=user-bookmarks
URL=https://github.com/trimstray/test-your-sysadmin-skills
