[Desktop Entry]
Version=1.0
Type=Link
Name=Linux Certification Practice Test – Applications sur Google Play
Comment=
Icon=user-bookmarks
URL=https://play.google.com/store/apps/details?id=shreenavnath.software.com.LINUX&fbclid=IwAR1vu8v6rrOJINGoVC6SgSICz4yOUE8Ml-YizWPxLt8Q-uy8HOes0Q_zE3I
