[Desktop Entry]
Version=1.0
Type=Link
Name=7 Python libraries for more maintainable code | Opensource.com
Comment=
Icon=user-bookmarks
URL=https://opensource.com/article/18/7/7-python-libraries-more-maintainable-code?sc_cid=70160000001273HAAQ
