[Desktop Entry]
Version=1.0
Type=Link
Name=Comprehensive Python Cheatsheet
Comment=
Icon=user-bookmarks
URL=https://gto76.github.io/python-cheatsheet/
