[Desktop Entry]
Version=1.0
Type=Link
Name=Python: Learn Python in 1 Hour
Comment=
Icon=user-bookmarks
URL=http://xahlee.info/python/python_basics.html?fbclid=IwAR0tX_Jdiw4OXFkIFHkTlLKLlLL0qvQKBhRJ3AhYoU4WnYMDJIjqoQFVQtk
