[Desktop Entry]
Version=1.0
Type=Link
Name=Teaching Python and more with open educational resources | Opensource.com
Comment=
Icon=user-bookmarks
URL=https://opensource.com/education/16/4/teaching-python-and-more-with-oer?sc_cid=7016000000127ECAAY
