[Desktop Entry]
Version=1.0
Type=Link
Name=Serveur DHCP multi VLAN | memo-linux.com
Comment=
Icon=user-bookmarks
URL=https://memo-linux.com/serveur-dhcp-multi-vlan/
