[Desktop Entry]
Version=1.0
Type=Link
Name=Installation Configuration et Utilisation de nfs - System-Linux
Comment=
Icon=gnome-fs-bookmark
URL=https://www.system-linux.eu/index.php?post/2009/03/27/Installation-et-configuration-d-un-serveur-nfs
