[Desktop Entry]
Version=1.0
Type=Link
Name=Ubuntu Linux NFS Server installation and Configuration - nixCraft
Comment=
Icon=user-bookmarks
URL=https://www.cyberciti.biz/faq/how-to-ubuntu-nfs-server-configuration-howto/
