[Desktop Entry]
Version=1.0
Type=Link
Name=Adapt the panels of Xfce (Linux Mint Xfce, Xubuntu) - Easy Linux tips project
Comment=
Icon=user-bookmarks
URL=https://sites.google.com/site/easylinuxtipsproject/xfce#TOC-Safeguard-the-panels-kiosk-mode-
