[Desktop Entry]
Version=1.0
Type=Link
Name=/ - Dépôt - ansible-roles - Forge Evolix
Comment=
Icon=user-bookmarks
URL=https://forge.evolix.org/projects/ansible-roles/repository
