[Desktop Entry]
Version=1.0
Type=Link
Name=Analyzing Ansible runs using ARA | Opensource.com
Comment=
Icon=user-bookmarks
URL=https://opensource.com/article/18/5/analyzing-ansible-runs-using-ara?sc_cid=70160000001273HAAQ
