[Desktop Entry]
Version=1.0
Type=Link
Name=Ansible reboot Linux machine or server with playbooks - nixCraft
Comment=
Icon=user-bookmarks
URL=https://www.cyberciti.biz/faq/ansible-reboot-linux-machine-or-server-with-playbooks/
