[Desktop Entry]
Version=1.0
Type=Link
Name=Ansible : Getting Started with Ansible Playbook - DevOps Mates
Comment=
Icon=user-bookmarks
URL=https://devopsmates.com/ansible-playbook/
