[Desktop Entry]
Version=1.0
Type=Link
Name=Ansible par la pratique – Deuxième partie: Premiers playbooks avec les rôles – TartareFR
Comment=
Icon=user-bookmarks
URL=https://www.tartarefr.eu/ansible-par-la-pratique-deuxieme-partie-premiers-playbooks-avec-les-roles/
