[Desktop Entry]
Version=1.0
Type=Link
Name=Best Practices — Ansible Documentation
Comment=
Icon=user-bookmarks
URL=https://docs.ansible.com/ansible/latest/user_guide/playbooks_best_practices.html
