[Desktop Entry]
Version=1.0
Type=Link
Name=Best practices to build great Ansible playbooks - Theodo
Comment=
Icon=user-bookmarks
URL=https://blog.theodo.fr/2015/10/best-practices-to-build-great-ansible-playbooks/
