[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - octplane/ansible_stdout_compact_logger: Ansible Stdout Compact Logger
Comment=
Icon=user-bookmarks
URL=https://github.com/octplane/ansible_stdout_compact_logger
