[Desktop Entry]
Version=1.0
Type=Link
Name=How to prepare FreeBSD server to be managed by Ansible tool - nixCraft
Comment=
Icon=user-bookmarks
URL=https://www.cyberciti.biz/faq/how-to-prepare-freebsd-server-to-be-managed-by-ansible-tool/
