[Desktop Entry]
Version=1.0
Type=Link
Name=How to Install Ansible AWX without Docker on CentOS 7 / RHEL 7 - YallaLabs
Comment=
Icon=user-bookmarks
URL=http://yallalabs.com/devops/how-to-install-ansible-awx-without-docker-centos-7-rhel-7/?fbclid=IwAR2T4O8sQNibfp6uIjdbsn7-8vHcawsv_xVltx7eGQHd8O-I6kH9UvfmpsI
