[Desktop Entry]
Version=1.0
Type=Link
Name=Linux Tutorial: Install Ansible Configuration Management And IT Automation Tool - nixCraft
Comment=
Icon=gnome-fs-bookmark
URL=https://www.cyberciti.biz/python-tutorials/linux-tutorial-install-ansible-configuration-management-and-it-automation-tool/
