[Desktop Entry]
Version=1.0
Type=Link
Name=Tips for success when getting started with Ansible | Opensource.com
Comment=
Icon=user-bookmarks
URL=https://opensource.com/article/18/2/tips-success-when-getting-started-ansible
