[Desktop Entry]
Version=1.0
Type=Link
Name=Using DSH (Distributed Shell) to Run Linux Commands Across Multiple Machines
Comment=
Icon=gnome-fs-bookmark
URL=https://www.tecmint.com/using-dsh-distributed-shell-to-run-linux-commands-across-multiple-machines/
