[Desktop Entry]
Version=1.0
Type=Link
Name=Trucs & astuces Debian (ou « Debian Tips ») - MM
Comment=
Icon=gnome-fs-bookmark
URL=http://www.meusburger.net/matthias/Debian/
