[Desktop Entry]
Version=1.0
Type=Link
Name=Apprentissage de Qemu/LibVirt par l'exemple - Le blog de NicoLargo
Comment=
Icon=gnome-fs-bookmark
URL=https://blog.nicolargo.com/2012/02/apprentissage-de-qemulibvirt-par-lexemple.html
