[Desktop Entry]
Version=1.0
Type=Link
Name=Complete guide for creating Vagrant boxes with VirtualBox - LinuxTechLab
Comment=
Icon=user-bookmarks
URL=https://linuxtechlab.com/creating-vagrant-virtual-boxes-virtualbox/
