[Desktop Entry]
Version=1.0
Type=Link
Name=Convertir un .vdi en .vmdk - System-Linux
Comment=
Icon=user-bookmarks
URL=https://www.system-linux.eu/index.php?post/2016/07/22/Convertir-un-.vdi-en-.vmdk
