[Desktop Entry]
Version=1.0
Type=Link
Name=How to mount Glusterfs volumes inside LXC/LXD (Linux containers) - nixCraft
Comment=
Icon=user-bookmarks
URL=https://www.cyberciti.biz/faq/how-to-mount-glusterfs-volumes-inside-lxclxd-linux-containers/
