[Desktop Entry]
Version=1.0
Type=Link
Name=Top 26 Tools for VMware Administrators
Comment=
Icon=user-bookmarks
URL=https://www.tecmint.com/vmware-administrators-tools/?fbclid=IwAR2BMFmkBhycNpeIaO-B81n9vyyOU02eT1b6Tf_lwCkQVGDL1eUgt89D99Y
