[Desktop Entry]
Version=1.0
Type=Link
Name=VirtualBox Virtual Appliances | VirtualBoxImages.com
Comment=
Icon=user-bookmarks
URL=https://virtualboximages.com/
