[Desktop Entry]
Version=1.0
Type=Link
Name=5 Tips To Speed Up Linux Software Raid Rebuilding And Re-syncing - nixCraft
Comment=
Icon=user-bookmarks
URL=https://www.cyberciti.biz/tips/linux-raid-increase-resync-rebuild-speed.html
