[Desktop Entry]
Version=1.0
Type=Link
Name=SSD: how to optimize your Solid State Drive for Linux Mint 19 - Easy Linux tips project
Comment=
Icon=user-bookmarks
URL=https://sites.google.com/site/easylinuxtipsproject/ssd
