[Desktop Entry]
Version=1.0
Type=Link
Name=Free and Public DNS Server List (Valid September 2018)
Comment=
Icon=gnome-fs-bookmark
URL=https://www.lifewire.com/free-and-public-dns-servers-2626062
