[Desktop Entry]
Version=1.0
Type=Link
Name=Handshake, ENS and Decentralized Naming Services Explained
Comment=
Icon=gnome-fs-bookmark
URL=https://medium.com/zkcapital/handshake-ens-and-decentralized-naming-services-explained-2e69a1ca1313
