[Desktop Entry]
Version=1.0
Type=Link
Name=Installer et configurer un serveur DNS avec Bind9 sous Linux | Manu Gautier
Comment=
Icon=user-bookmarks
URL=https://blog.emmanuelgautier.fr/installer-et-configurer-un-serveur-dns-avec-bind9-sous-linux/
