[Desktop Entry]
Version=1.0
Type=Link
Name=4 Unique Terminal Emulators for Linux | Linux.com | The source for Linux information
Comment=
Icon=user-bookmarks
URL=https://www.linux.com/blog/learn/2018/12/4-unique-terminals-linux
