[Desktop Entry]
Version=1.0
Type=Link
Name=asciinema - Record and share your terminal sessions, the right way
Comment=
Icon=gnome-fs-bookmark
URL=https://asciinema.org/
