[Desktop Entry]
Version=1.0
Type=Link
Name=Bash tips for everyday at the command line | Opensource.com
Comment=
Icon=user-bookmarks
URL=https://opensource.com/article/18/5/bash-tricks?sc_cid=70160000001273HAAQ
