[Desktop Entry]
Version=1.0
Type=Link
Name=Best Online Linux Terminals and Online Bash Editors | It's FOSS
Comment=
Icon=user-bookmarks
URL=https://itsfoss.com/online-linux-terminals/
