[Desktop Entry]
Version=1.0
Type=Link
Name=Chapter 24. Working with the Shell
Comment=
Icon=user-bookmarks
URL=https://www-uxsup.csx.cam.ac.uk/pub/doc/suse/suse9.0/userguide-9.0/ch24.html
