[Desktop Entry]
Version=1.0
Type=Link
Name=Complete Sed Command Guide [Explained with Practical Examples] | Linux Handbook
Comment=
Icon=gnome-fs-bookmark
URL=https://linuxhandbook.com/sed-reference-guide/
