[Desktop Entry]
Version=1.0
Type=Link
Name=Enhancing Virtual Terminals with Byobu | Linux.com | The source for Linux information
Comment=
Icon=user-bookmarks
URL=https://www.linux.com/learn/enhancing-virtual-terminals-byobu
