[Desktop Entry]
Version=1.0
Type=Link
Name=GitHub - alexanderepstein/Bash-Snippets: A collection of small bash scripts for heavy terminal users
Comment=
Icon=user-bookmarks
URL=https://github.com/alexanderepstein/Bash-Snippets
