[Desktop Entry]
Version=1.0
Type=Link
Name=How to use GNU Screen in Linux | Linux BrigadeHow to use GNU Screen in Linux - Linux Brigade
Comment=
Icon=user-bookmarks
URL=http://www.linuxbrigade.com/use-gnu-screen-linux/?utm_source=twitterfeed&utm_medium=twitter
