[Desktop Entry]
Version=1.0
Type=Link
Name=How To Install and Use Byobu for Terminal Management on Ubuntu 16.04 | DigitalOcean
Comment=
Icon=user-bookmarks
URL=https://www.digitalocean.com/community/tutorials/how-to-install-and-use-byobu-for-terminal-management-on-ubuntu-16-04
