[Desktop Entry]
Version=1.0
Type=Link
Name=How to Use Your Bash History in the Linux or macOS Terminal
Comment=
Icon=user-bookmarks
URL=https://www.howtogeek.com/howto/44997/how-to-use-bash-history-to-improve-your-command-line-productivity/
