[Desktop Entry]
Version=1.0
Type=Link
Name=Linux Shell Scripting Tutorial - A Beginner's handbook
Comment=
Icon=gnome-fs-bookmark
URL=https://bash.cyberciti.biz/guide/Main_Page
