[Desktop Entry]
Version=1.0
Type=Link
Name=Linux Fu: Better Bash Scripting | Hackaday
Comment=
Icon=user-bookmarks
URL=https://hackaday.com/2017/07/21/linux-fu-better-bash-scripting/#more-263320
