[Desktop Entry]
Version=1.0
Type=Link
Name=tmux, diviser pour mieux régner
Comment=
Icon=user-bookmarks
URL=https://blog.wescale.fr/2019/03/14/tmux-diviser-pour-mieux-regner/
