[Desktop Entry]
Version=1.0
Type=Link
Name=traditional Bourne shell family / history and development
Comment=
Icon=gnome-fs-bookmark
URL=https://www.in-ulm.de/~mascheck/bourne/index.html#origins
