[Desktop Entry]
Version=1.0
Type=Link
Name=Utilisation de la commande Screen « Croc-Informatique.fr
Comment=
Icon=user-bookmarks
URL=https://www.croc-informatique.fr/2015/03/utilisation-de-la-commande-screen/
