[Desktop Entry]
Version=1.0
Type=Link
Name=50 UNIX / Linux Sysadmin Tutorials
Comment=
Icon=user-bookmarks
URL=https://www.thegeekstuff.com/2010/12/50-unix-linux-sysadmin-tutorials/
