[Desktop Entry]
Version=1.0
Type=Link
Name=Admin Linux | Administration de systèmes Linux
Comment=
Icon=user-bookmarks
URL=https://www.admin-linux.fr/
