[Desktop Entry]
Version=1.0
Type=Link
Name=Bienvenue sur le wiki de Linuxwall.info [[[Linuxwall.info::Wiki]]]
Comment=
Icon=user-bookmarks
URL=http://wiki.linuxwall.info/doku.php/fr:start
