[Desktop Entry]
Version=1.0
Type=Link
Name=How to use Kolibri to access educational material offline | Opensource.com
Comment=
Icon=user-bookmarks
URL=https://opensource.com/article/18/10/getting-started-kolibri?sc_cid=70160000001273HAAQ
