[Desktop Entry]
Version=1.0
Type=Link
Name=L'admin sous GNU / Linux - Blog Libre - Actualités autour du logiciel libre, de l'administration, la supervision
Comment=
Icon=user-bookmarks
URL=http://blog.admin-linux.org/
