[Desktop Entry]
Version=1.0
Type=Link
Name=Les meilleurs cours et tutoriels sur la programmation et l'informatique professionnelle
Comment=
Icon=gnome-fs-bookmark
URL=https://general.developpez.com/cours/#reseaux
