[Desktop Entry]
Version=1.0
Type=Link
Name=Old PDF course files - OpenClassrooms
Comment=
Icon=user-bookmarks
URL=https://openclassrooms.com/en/old-courses-pdf
