[Desktop Entry]
Version=1.0
Type=Link
Name=server admin – cyrill-gremaud.ch
Comment=
Icon=user-bookmarks
URL=http://www.cyrill-gremaud.ch/category/server-admin/
