[Desktop Entry]
Version=1.0
Type=Link
Name=The Linux Cookbook: Tips and Techniques for Everyday Use - Table of Contents
Comment=
Icon=user-bookmarks
URL=http://www.dsl.org/cookbook/cookbook_toc.html
