[Desktop Entry]
Version=1.0
Type=Link
Name=The Linux Craftsman
Comment=
Icon=user-bookmarks
URL=https://www.tala-informatique.fr/wiki/index.php/The_Linux_Craftsman
