[Desktop Entry]
Version=1.0
Type=Link
Name=Tuto Serveur & Administration Systèmes, Formation Serveur & Administration Systèmes sur Tuto.com
Comment=
Icon=gnome-fs-bookmark
URL=https://fr.tuto.com/tuto/serveur-administration-systemes/
