[Desktop Entry]
Version=1.0
Type=Link
Name=Ultimate list of Cheat Sheet for System Administrator
Comment=
Icon=user-bookmarks
URL=https://geekflare.com/cheat-sheet-system-admin/
