[Desktop Entry]
Version=1.0
Type=Link
Name=How To Install Visual Studio Code On Ubuntu | It's FOSS
Comment=
Icon=user-bookmarks
URL=https://itsfoss.com/install-visual-studio-code-ubuntu/
