[Desktop Entry]
Version=1.0
Type=Link
Name=Raspberry Pi Tablet 'RasPad' Simplifies Programming - Geek.com
Comment=
Icon=user-bookmarks
URL=https://www.geek.com/tech/raspberry-pi-tablet-raspad-simplifies-programming-1747984/
