[Desktop Entry]
Version=1.0
Type=Link
Name=Introduction to Kali Linux Revealed
Comment=
Icon=user-bookmarks
URL=https://kali.training/lessons/introduction/
