[Desktop Entry]
Version=1.0
Type=Link
Name=Debian / Ubuntu Linux Install and Configure Remote Filesystem Snapshot with rsnapshot Incremental Backup Utility - nixCraft
Comment=
Icon=user-bookmarks
URL=https://www.cyberciti.biz/faq/linux-rsnapshot-backup-howto/
