[Desktop Entry]
Version=1.0
Type=Link
Name=Effectuez vos sauvegardes avec Bareos / GLMF-212 / GNU/Linux Magazine / Connect - Edition Diamond
Comment=
Icon=user-bookmarks
URL=https://connect.ed-diamond.com/GNU-Linux-Magazine/GLMF-212/Effectuez-vos-sauvegardes-avec-Bareos
