[Desktop Entry]
Version=1.0
Type=Link
Name=How to Auto Backup Files to USB Media When Connected
Comment=
Icon=gnome-fs-bookmark
URL=https://www.tecmint.com/auto-backup-files-to-usb-media-in-linux/
