[Desktop Entry]
Version=1.0
Type=Link
Name=Sauvegarder et restaurer son système avec Redo Backup
Comment=
Icon=user-bookmarks
URL=http://www.6ma.fr/tuto/sauvegarder+restaurer+son+systeme+avec+redo+backup-695
