[Desktop Entry]
Version=1.0
Type=Link
Name=UNIX / Linux: Rsnapshot Restore Backups - nixCraft
Comment=
Icon=user-bookmarks
URL=https://www.cyberciti.biz/faq/restoring-backup-files-with-rsnapshot-unix-linux-bsd-appleosx/
