[Desktop Entry]
Version=1.0
Type=Link
Name=17 Curl Command Examples in Linux | Linux4one
Comment=
Icon=user-bookmarks
URL=https://linux4one.com/15-curl-command-examples-in-linux/?fbclid=IwAR1M6CZYM65lNfPufj5FMVlJjZpgvwD_8t6q-3Pyz7M8plxO_XUBi1iSsNQ
