[Desktop Entry]
Version=1.0
Type=Link
Name=How to Install Countly Analytics in CentOS and Debian Based Systems
Comment=
Icon=gnome-fs-bookmark
URL=https://www.tecmint.com/install-countly-analytics-in-centos-and-ubuntu/?utm_content=buffera4e3a&utm_medium=social&utm_source=facebook.com&utm_campaign=buffer
