[Desktop Entry]
Version=1.0
Type=Link
Name=HTTP Prompt - An Interactive Command Line HTTP Client
Comment=
Icon=user-bookmarks
URL=https://www.tecmint.com/http-prompt-command-line-http-client/?fbclid=IwAR1_oIDKLEowOYjH8wBvYIUk_7ceEcmW-_zmfkUhuSisl-9xlIGbcs_TMmw
