[Desktop Entry]
Version=1.0
Type=Link
Name=LDAP Authentication with apache httpd
Comment=
Icon=user-bookmarks
URL=https://onclick360.com/ldap-authentication-in-apache-httpd-server?fbclid=IwAR28EXsZSSd91y7Get7paqaE1nlu9qoh9VnTIL_gEZaWxhAJj6UIea3RoMs
