[Desktop Entry]
Version=1.0
Type=Link
Name=Sécuriser son serveur : phpMyAdmin, sous-domaine dédié et HTTPS
Comment=
Icon=gnome-fs-bookmark
URL=https://www.guillaume-leduc.fr/4-securiser-son-serveur-phpmyadmin.html
